* {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

/* . */

h3 {
    font-family: 'Playfair Display', serif;
}

/* HEADER */

nav {
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}

.icon {
    width: 80px;
    padding: 15px;
    position: relative;
    margin-left: 10px;
    transition: transform 3s;
}

.icon:hover {
    transform: rotate(0.5turn);
}

.push {
    margin-left: auto;
}

.item {
    padding: 34px 25px;
    text-transform: uppercase;
    color: #490b0e;
    font-weight: 700;
}

.item:hover {
    background-color: #490b0e;
    color: white;
    font-weight: 900;
}

.banner {
    background-image: url(sources/header.jpg);
    background-size: cover;
    padding-top: 32.5rem;
    padding-bottom: 12.5rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* MAIN */

.main {
    margin-top: 40px;
}

.quote {
    text-align: center;
    font-size: 1.25rem;
    color: #490b0e;
}

.main img {
    width: 49%;
    height: 100%;
    object-fit: cover;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 100px auto;
}

.inside-box {
    flex-basis: 50%;
    padding: 15px;
}

.last-text {
    padding-left: 90px;
    padding-top: 50px;
}

.text {
    padding-right: 5%;
}

/* FOOTER */

footer {
    background-color: #490b0e;
    margin-bottom: 0;
    padding: 25px;
    bottom: 0;
}

.footer {
    color: white;
    text-align: center;
}


/* MEDIA */

@media only screen and (max-width: 600px) {
    nav {
        height: 66px;
       
    }
    .icon {
        display: none;
    }
    .push {
        margin: 0;
    }
    .item {
        padding: 20px 25px;
    }
    .banner {
        padding-bottom: 0;
        background-position: unset;
    }
    .quote {
        font-size: 1.10rem;
        color: #eee7d5;
        text-align: right;
        padding-right: 10px;
        margin-bottom: 50px;
    }
    .main {
         margin-top: -60px;
    }
    .box {
          margin: 20px;
     }
    .inside-box {
        flex-basis: 100%;
        padding: 10px 20px;
    }
    .mobile-last {
        order: 4;
    }
    .mobile-befor-last {
        order: 3;
    }
  }
